body {
    font-family: 'Arimo', sans-serif;
}

h1 {
    color: #e05929;
    margin: 10px 0;
}

p {
    color: #56595B;
}

.title-container {
    border-bottom: 1px solid #BBBCBB;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 40px 30px;
    padding-bottom: 60px;
}

.title-container p {
    color: #898B8E;
    font-family: 'Domine', 'serif';
    font-size: 22px;
    margin: 0;
}